# venv locais
.venv/
venv/

__pycache__/
*.pyc

# GeoIP (binários grandes/licença)
geo/*.mmdb
geo/*.tar.gz
geo/*.gz

# arquivos gerados
resultado_exportado_*.csv
resultado_filtrado_*.jsonl

# VSCode
.vscode/
